.header__wrapper {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  border-top: 1px solid rgba(84, 84, 84, 0.7);
  width: calc(100% - 199px * 2);
  margin: 0 auto;
  padding: 45px 0 40.6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .header__wrapper {
    width: calc(100% - 150px * 2);
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    width: 100%;
  }
}
