.footer {
  margin: auto;
  width: calc(100% - 120px * 2);
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 1023px) {
  .footer {
    width: calc(100% - 60px * 2);
  }
}

@media (max-width: 767px) {
  .footer {
    width: calc(100% - 40px * 2);
  }
}
@media (max-width: 650px) {
  .footer {
    width: 100%;
  }
}
