.footer {
  margin: auto;
  width: calc(100% - 199px * 2);
  padding-top: 66px;
  padding-bottom: 60px;
}

@media (max-width: 1024px) {
  .footer {
    width: calc(100% - 150px * 2);
  }
}

@media (max-width: 767px) {
  .footer {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 36px;
    padding-left: 20px;
  }
}
