@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__edit/profile__edit.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__hobby/profile__hobby.css);
@import url(../profile/__text/profile__text.css);
@import url(../profile/__edit-avatar/profile__edit-avatar.css);
/* .profile {
  padding-top: 36px;
  margin: 0 auto;
  max-width: 882px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width: 900px) {
  .profile {
    padding-top: 38px;
    flex-direction: column;
    align-items: center;
  }
} */
.profile {
  padding: 37px 0 48px;
  width: calc(100% - 199px * 2);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1023px) {
  .profile {
    width: calc(100% - 150px * 2);
  }
}

@media (max-width: 920px) {
  .profile {
    padding: 38.25px 0 36px;
    flex-direction: column;
    width: calc(100% - 80px * 2);
  }
}

@media (max-width: 425px) {
  .profile {
    width: calc(100% - 19px * 2);
  }
}
