.card {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all linear .2s;
}

.card:hover {
  transform: scale(1.02);
}