.profile__add-button{
  margin-top: 29px;
  min-width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
  transition: opacity 0.5s ease;
  opacity: 1;
  background-color: #000000;
  color: #FFFFFF;
  font-size: 30px;
  cursor: pointer;
}
.profile__add-button:hover {
opacity: 0.6;
}
@media screen and (max-width: 900px) {
.profile__add-button {
  margin-top: 36px;
  width: 282px;
}
}