.element__trash {
  position: absolute;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 249px;
  margin-top: 18px;
  border: none;
  outline: none;
  transition: opacity 0.5s ease;
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}
.element__trash:hover {
  opacity: 0.6;
}
