.popup__button-close {
  height: 40.7px;
  width: 40.7px;
  position: absolute;
  top: -35px;
  right: -39px;
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 1px 1px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.popup__button-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

.popup__button-close::before {
  content: "";
  height: 40.7px;
  position: absolute;
  border-left: 4px solid #ffffff;
  transform: rotate(45deg);
  left: 17px;
  top: -3px;
}

.popup__button-close::after {
  content: "";
  height: 40.7px;
  position: absolute;
  border-left: 4px solid #ffffff;
  transform: rotate(-45deg);
  left: 17px;
  top: -3px;
}
@media screen and (max-width: 560px) {
  .popup__button-close {
    top: -40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .popup__button-close::before {
    height: 30px;
  }
  .popup__button-close::after {
    height: 30px;
  }
}
