.element__like {
  height: 18.13px;
  width: 20.76px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  background-image: url(../../../images/card/vector.svg);
  transition: opacity 0.5s ease;
  opacity: 1;
  cursor: pointer;
  margin-bottom: 4px;
}
.element__like:hover {
  opacity: 0.6;
}
